<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" src="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Salvo!</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div>
                <div v-if="!authenticated">
                    <h4 class="mt-3 mb-3">Login</h4>
                <div id="login_form" class="mb-5">
                    <div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input v-model="username" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input v-model="password" name="password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                </div>
                    <div v-if="authenticated">
                        <p>Hello, {{username}}!</p>
                    </div>
                </div>
                <button v-if="!authenticated" v-on:click="postLogin" type="submit" class="btn btn-primary">Login</button>
                <button v-if="authenticated" v-on:click="postLogout" type="submit" class="btn btn-primary">Logout</button>
                <button v-if="!authenticated" v-on:click="postSignup" type="submit" class="btn btn-primary">Signup</button>
            </div>
        </div>
        <div v-if="authenticated" class="container">
            <p>Hello, {{username}}!</p>
            <h4>Leaderboard</h4>
            <table id="leaderboard" class="table table-bordered" style="width: 550px">
                <thead id="table-headers-leader">
                        <tr>
                            <th class="text-sm-center" v-for="name in leaderboard">{{name}}</th>
                        </tr>
                    </thead>
                    <tbody id="table-rows-leaderboard">
                        <tr v-for="player in uniquePlayers">
                            <td class="text-sm-center" style='width: 50px'>{{player.player}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{player.total}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{player.wins}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{player.losses}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{player.ties}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div v-if="authenticated" class="container">
                <h4>Games</h4>
                <table id="gamesTable" class="table table-bordered" style="width: 550px">
                    <tbody id="table-rows-leaderboard">
                        <tr v-for="(game, index) in gamesList" :key="index">
                            <td class="text-sm-center" style='width: 50px'>{{game.id}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{game.created}}</td>
                            <td class="text-sm-center" style='width: 50px'>{{game.gamePlayerIds}}</td>
                            <td v-if="game.players.indexOf(username) > -1" class="text-sm-center" style='width: 50px'>
                                <a v-else>{{game.players}}</a>
                                <a v-for="gamePlayer in game.gamePlayerIds" :id="gamePlayer.id" :href="`/web/game.html?gp=${gamePlayer.id}`">{{gamePlayer.email}}</a>
                            </td>
                            <td>
                                <button :id="game.id" :value="game.id" v-on:click="joinGame(game.id)" type="submit" class="btn btn-primary">Join game</button>
                            </td>
                            
                            <!-- <td  class="text-sm-center" style='width: 50px'>
                                <a v-if="gamePlayer.email == username" :id="gamePlayer.id" :href="`/web/game.html?gp=${gamePlayer.id}`">{{game.players}}</a>
                                <a v-else>{{game.players}}</a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="postGame()" type="submit" class="btn btn-primary">Create game</button>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>