<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
</head>
<body background="gradient_background.jpg">
    <div id="app">
        <div class="d-flex justify-content-end">
            <button v-on:click="postLogout" type="submit" class="btn btn-primary mt-2 ml-2 mr-3">Logout</button>
        </div>
        <div class="container">
            <div class="text-white d-flex justify-content-center">
                <p class="border rounded-pill p-3" v-if="shipsPlaced == false">Place your ships!</p>
                <p class="border rounded-pill p-3" v-if="turnToPlaceSalvoes == true && shipsPlaced == true && !gameOver">It's your turn to fire a salvo!
                </p>
                <p class="border rounded-pill p-3" v-if="turnToPlaceSalvoes == false && shipsPlaced == true && !gameOver">Waiting for your opponent to fire a
                    salvo...</p>
                <p class="border rounded-pill p-3" v-if="gameOver">Game over! You scored: {{result}}</p>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4 id="gamePlayerHeader">Game Player X</h4>
                    <table id="gameTable" class="table bg-white table-bordered" style="width: 500px">
                        <thead id="table-headers-game">
                            <tr>
                                <th></th>
                                <th v-for="number in headers">{{number}}</th>
                            </tr>
                        </thead>
                        <tbody v-for="letter in rows" id="table-rows-game">
                            <th>{{letter}}</th>
                            <td v-on:click="selectShipLocation(letter + number)" style='width: 50px'
                                v-for="number in headers" :id="letter + number"></td>
                        </tbody>
                    </table>
                </div>
                <div v-if="shipsPlaced == false" class="col-sm">
                    <h4 class="mb-3">Select a ship...</h4>
                    <table id="shipTable" class="table table-bordered text-sm-center text-white">
                        <thead id="table-headers-ships">
                            <tr>
                                <th>Number</th>
                                <th>Type</th>
                                <th>Length</th>
                                <th>Select ship</th>
                            </tr>
                        </thead>
                        <tbody v-for="ship in ships">
                            <tr v-if="ship.placed == false">
                                <td>{{ship.number}}</td>
                                <td>{{ship.type}}</td>
                                <td>{{ship.length}}</td>
                                <td>
                                    <input v-on:change="selectShip" type="radio" name="ship_selector" :id="ship.type"
                                        :value="ship.length">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button v-if="shipsPlaced == false" :id="confirm-ships" v-on:click="shipLocations" type="submit"
                            class="btn btn-primary mt-2 ml-2">Confirm ships</button>
                    </div>
                </div>
                <div class="col-sm">
                    <p class="salvoes-title">Salvoes fired at opponent...</p>
                    <table id="salvoTable" class="table table-bordered bg-white" style="width: 500px">
                        <thead id="table-headers-salvo">
                            <tr>
                                <th></th>
                                <th v-for="number in headers">{{number}}</th>
                            </tr>
                        </thead>
                        <tbody v-for="letter in rows" id="table-rows-salvo">
                            <th>{{letter}}</th>
                            <td v-on:click="selectSalvoLocation(salvoTable + letter + number)" style='width: 50px'
                                v-for="number in headers" :id="salvoTable + letter + number"></td>
                        </tbody>
                    </table>
                    <div v-if="turnToPlaceSalvoes && !gameOver">
                        <button :id="confirm-salvo" v-on:click="sendSalvoLocations" type="submit"
                            class="btn btn-primary mb-3">Confirm salvo</button>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <!-- <div class="row">
                    <div class="col-sm">
                        <h4>Game stats</h4>
                        <table id="gameStatsTable" class="table table-bordered" style="width: 500px">
                            <thead id="table-headers-game-stats">
                                <tr>
                                    <th rowspan="2">Turn</th>
                                    <th colspan="2">Hits on you</th>
                                    <th colspan="2">Hits on opponent</th>
                                </tr>
                                <tr>
                                    <th>Hits</th>
                                    <th>Ships left</th>
                                    <th>Hits</th>
                                    <th>Ships left</th>
                                </tr>
                            </thead>
                            <tbody v-for="turn in gameStats" id="table-rows-game-stats">
                                <td>{{turn.turn}}</td>
                                <td>{{turn.shipType}}: {{turn.numberOfHits}}</td>
                                <td>{{turn.shipsLeft}}</td>
                            </tbody>
                        </table>
                    </div>
                </div> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>